footer {
  grid-area: footer;
  background-color: #4F7CEE;
  background-image: linear-gradient(to bottom, #63a5f0, #4F7CEE); }

header {
  grid-area: header;
  display: grid;
  grid-template-columns: .1fr 1fr;
  justify-content: space-between;
  background-color: #4F7CEE;
  background-image: linear-gradient(to right, #63a5f0, #4F7CEE, #63a5f0); }

footer nav {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-column-gap: 20px;
  justify-content: center;
  padding: 5vh; }
  footer nav ol {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    border: solid 3px black; }
    footer nav ol:hover {
      transform: scale(1.3);
      transition: .5s; }
    footer nav ol a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none; }
      footer nav ol a img {
        margin: 10px;
        width: 25px;
        text-align: center; }
      footer nav ol a p {
        color: #4F7CEE; }

header nav {
  display: flex; }

header img {
  margin: 1rem;
  width: 9rem; }

header nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  margin: 1rem;
  padding: 1rem;
  justify-content: flex-end; }
  header nav ul li {
    margin: .5rem;
    width: 100px;
    text-align: center;
    list-style: none;
    background-color: white;
    padding: 5px;
    border: solid 3px black;
    border-radius: 10px; }
    header nav ul li:hover {
      background-color: #63a5f0;
      transform: scale(1.2);
      transition: .5s; }
    header nav ul li a {
      color: #4F7CEE;
      text-decoration: none; }

#contacto {
  grid-area: seccionContacto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: antiquewhite; }
  #contacto form {
    display: flex;
    flex-direction: column; }
    #contacto form div {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #contacto form div label {
        color: var(--bs-blue); }

*,
*::before,
*::after {
  box-sizing: content-box; }
